{% extends 'base.html' %}
{% load static %}
{% block content %}
     <br>
    <br>
    <br>
     <br>

<div class="container">
    <form  method="post" enctype="multipart/form-data">
      <div class="file-upload" style="background-color:#56baed;">
        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Your File</button>
        <div class="image-upload-wrap">
          <input class="file-upload-input" name="excelfile" type='file' onchange="readURL(this);" accept="application/msexcel"/>
          <div class="drag-text">
            <h3>Drag and drop a file or select add your file</h3>
          </div>
        </div>
        <div class="file-upload-content">
          <!--<img class="file-upload-image" src="#" alt="your image" />-->
          <div class="image-title-wrap">
            <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
          </div>
        </div>
        {% csrf_token %}

        <button type="submit" class="btn btn-primary mb-2" name="btn4">Show & Save</button>
      </div>
      <!-- <button type="submit" class="btn btn-warning mb-2" name="btn5">Save in DataBase</button> -->
    </form>
    <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Ajouter le fichier Excel</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary ">
                      <th>
                        Aeronef Identification
                      </th>
                      <th class="text-center">
                        Flight Number
                      </th>
                      <th class="text-center">
                        Company
                      </th>
                      <th class="text-center">
                        Departure Airport
                      </th>
                      <th class="text-center">
                        Destination Airport
                      </th>
                      <th class="text-center">
                        Safety Airport
                      </th>
                      <th class="text-center">
                        Estimated Departure Time
                      </th>
                    <th class="text-center">
                        Estimated Arrival Time
                      </th>
                    <th class="text-center">
                        Flight Level
                      </th>
                    <th class="text-center">
                        Flight Route
                      </th>
                    <th class="text-center">
                        Total Passengers
                      </th>
                    <th class="text-right">
                        Action
                      </th>
                    </thead>
                      {% for i in excel_data %}
                      <tr>
                        {% for j in i %}
                          <td>
                            {{ j }}
                          </td>
                            {% endfor %}
                            <td><a href="#"><img src="{% static 'img/delete.png' %}" alt=""></a></td>
                            <td><a href="#"><img src="{% static 'img/edit.png' %}" alt=""></a></td>
                            <td><a href="#"><img src="{% static 'img/message.png' %}" alt=""></a></td>
                            <td><input type="checkbox" name="ch1" value='{ f.id }'>{{ fi.d }}</td>
                      </tr>
                      {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
 </div>
{#  <table class="table">#}
{#    <tr>#}
{#    <th>Aircraft ID</th>#}
{#    <th>Flight Number</th>#}
{#    <th>Company</th>#}
{#    <th>Departure Airport</th>#}
{#    <th>Des. Airport</th>#}
{#    <th>Route</th>#}
{#    <th>Date</th>#}
{#  </tr>#}
{#    {% for i in excel_data %}#}
{#    <tr>#}
{#    {% for j in i %}#}
{#  <td>#}
{#    {{ j }}#}
{#  </td>#}
{#    {% endfor %}#}
{#    <td><a href="#"><img src="{% static 'image/delete.png' %}" alt=""></a></td>#}
{#    <td><a href="#"><img src="{% static 'image/edit.png' %}" alt=""></a></td>#}
{#    <td><a href="#"><img src="{% static 'image/print.png' %}" alt=""></a></td>#}
{#    <td><a href="#"><img src="{% static 'image/message.png' %}" alt=""></a></td>#}
{#    <td><input type="checkbox" name="ch1" value='{ f.id }'>{{ fi.d }}</td>#}
{#  </tr>#}
{#    {% endfor %}#}
{#  </table>#}
</div>
{% endblock %}